# Environments
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data (Large files)
*.npy
*.pkl
dataset/

# Project specific
checkpoints/
results.txt
AnomalyTransformer_Colab.ipynb
test_gpu.py
