pandas==2.2.0
numpy==1.26.4
torch==2.5.1
python-dotenv==1.0.1
# SOTA Dependencies
alerce
polars
pyarrow
astropy
george
sncosmo
tables
lightgbm
scikit-image
psutil
scikit-learn
transformers==4.40.1
accelerate==0.30.1
bitsandbytes==0.43.1
langchain
langgraph
astroquery
fastavro
plotly
mlflow
antares-client